<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/add-product">add-product</a></li>
            
            <li class="main-header__item"><a href="/shop">shop</a></li>
            <li class="main-header__item"><a href="/contact-us">contact us</a></li>
            <li class="main-header__item"><a href="/cart">cart</a></li>
        </ul>
    </header>

<body>
    
    <main>
        <form class="product-form" action="/add-product<%if(edit==true){%>/<%=prod._id%>/?edit=true<%}%>" method="POST">
            <div class="form-control">
                <label for="title">Title</label><br>
                <input type="text" name="title" id="title" value="<%if(edit==true){%><%=prod.title%><%}%>"><br>
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label><br>
                <input type="text" name="imageUrl" id="imageUrl" value="<%if(edit==true){%><%=prod.imageUrl%><%}%>"><br>
            </div>
            <div class="form-control">
                <label for="price">Price</label><br>
                <input type="number" name="price" id="price" step="0.01" value="<%if(edit==true){%><%=prod.price%><%}%>"><br>
            </div>
            <div class="form-control">
                <label for="description">Description</label><br>
                <textarea name="description" id="description" rows="5" ><%if(edit==true){%><%=prod.description%><%}%></textarea><br>
            </div>
            <div class="form-control">
               
                <input type="hidden" name="id" id="id"  value="<%if(edit==true){%><%=prod._id%><%}%>"><br>
            </div>
            <button class="btn" type="submit"><%if(edit==true){%>Submit changes<%}else {%>Add Product<%}%></button>
        </form>
    </main>
