<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/add-product">add-product</a></li>
            
            <li class="main-header__item"><a href="/shop">shop</a></li>
            <li class="main-header__item"><a href="/contact-us">contact us</a></li>
            <li class="main-header__item"><a href="/cart">cart</a></li>
        </ul>
    </header>

    <main>
        <h1>My Cart</h1>
        
        <p>Total Price <%=/*prods.totalprice*/%></p>
        <p>List of all the products...</p>
        <% if (prods.items.length > 0) { %>
            <div class="grid">
                <% for (let i=0;i<prods.items.length;i++) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">Id: <%=prods.items[i]._id %></h1>
                        </header>
                       
                        <div class="card__content">
                            <h2 class="product__price">Qty: <%=prods.items[i].quantity %></h2>
                            <a href="/shop/<%=prods.items[i]._id%>">
                           
                        </div>
                      
                        <div class="card__actions">
                            <a href="/add-product/<%=prods.items[i]._id%>">

                            <button  class="btn" name="details" id="details">Details</button></a>
                        </div>
                        <div class="card__actions">
                            <a href="/cart/<%=prods.items[i].product_Id%>">

                            <button  class="btn" name="delete" id="delete">Remove from cart</button></a>
                        </div>
                </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
</body>

</html>