<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <header class="main-header">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/add-product">add-product</a></li>
            
            <li class="main-header__item"><a href="/shop">shop</a></li>
            <li class="main-header__item"><a href="/contact-us">contact us</a></li>
            <li class="main-header__item"><a href="/cart">cart</a></li>
        </ul>
    </header>

    <main>
        <h1>My Orders</h1>
      

        <p>List of all the Orders...</p>
        
        <% if (Orders.length > 0) { %>
            <%let i=0; for(prods of Orders){i++ %>

                <h1>Order : <%=i %></h1>
            <div class="grid">
                <% for (let i=0;i<prods.cart.items.length;i++) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">Name: <%=prods.cart.items[i].title %></h1>
                        </header>
                       
                        <div class="card__content">
                            <h2 class="product__price">Qty: <%=prods.cart.items[i].quantity %><br>
                                Price: <%=prods.cart.items[i].price %></h2>                           
                        </div>
                      
                        
                        
                </article>
                <% } %>
            </div>
        <%} } else { %>
            <h1>No Orders Found!</h1>
        <% } %>
    </main>
</body>

</html>